@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>Om sidan</h1>
    Jag som skapat sidan heter Philip Telberg. Jag är 36 år och bor i Fagervik. Efter denna kurs så kommer jag att ha mitt examensarbete på Knowit. Och efter det väntar examen. 
</div>