@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1>Välkommen!</h1>
    <p>Detta är min Razor-webbapp. Designen följer en färdig wireframe och är byggd med CSS, inget CSS-ramverk</p>
    <p>På Razor-sidan finns en lista som skriv ut till skärmen och innehåller kurser som jag läst. Datum och klockslag när besöket gjordes finns med. En kontroll görs om det är fredag eller inte. </p>
</div>
